@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

section .section-title-f {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer-f {
    background: #007b5e !important;
}

#footer-f h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer-f a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer-f ul.social-f li {
    padding: 3px 0;
}

#footer-f ul.social-f li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer-f ul.social-f li:hover a i {
    font-size: 30px !important;
    margin-top: -10px;
}

#footer-f ul.social-f li a,
#footer-f ul.quick-links-f li a {
    color: #ffffff;
}

#footer-f ul.social-f li a:hover {
    color: #eeeeee;
}

#footer-f ul.quick-links-f li {
    padding: 3px 0;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    transition: 300ms all ease;
}

#footer-f ul.quick-links-f li:hover {
    /* padding: 3px 0; */
    margin-left: 5px;
    font-weight: bold;
}

#footer-f ul.quick-links-f li a i {
    margin-right: 5px;
}

#footer-f ul.quick-links-f li:hover a i {
    font-weight: 700 !important;
}